/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;

    /* debug */
    background-color: cyan;
}

/* MAIN */
main{
    width: 100%;
    margin-top: 60px auto 0;
}
.contenitore{
    width: 60%;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    
    

    /* debug */
    height: 1000px;
    border: 1px solid black;
}
.contenitore-interno{
    width: 80%;
}