/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
img{
    max-width:100%;
}


/* UTILITY */
.centratura{
    margin:0 auto;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.center{
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 0.5rem 0rem;
}
.padding-generale{
    padding: 1em;
}
.padding-generale-2{
    padding: 2em;
}
.padding-verticale-0{
    padding: 0.5em;
}
.padding-verticale-1{
    padding: 1em 0em;
}

.padding-verticale-2{
    padding: 2em 0em;
}

/* IN COMUNE */

/* Contenitori */
.contenitore{
    width: 60%;
    max-width: 1200px;
    margin: auto;
}
.contenitore-interno{
    width: 50%;
    max-width: 1000px;
    margin-top: 10px;
}
.col{
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.carta{
    border: 1px solid #d9d9db;
    width: calc((100% / 3) - 1rem);
}
.carta-orizzontale{
    width: 100%;
    margin: 2em 0em;
}
hr{
    border: 0.5px solid #d9d9db;
}
.linea-corta{
    width: 30%;
}
.box{
    width: 100%;
    
}
.bottone{
    background-color: #0160ff;
    color: white;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    text-decoration: none;
   
}



/*TIPOGRAFIA*/

.titolo{
    font-size: 3rem;
    padding: 3rem 0rem;
}
.col-40 p{
    padding-bottom: 2em;
    padding-right: 1em;
}
/* icone */
.jumbotron i{
    font-size: 2.5rem;
}
a{
    color: blue;
}
i{
    padding-right: 0.2rem;
    font-size: 1rem;
}
h2{
    font-size: 1.8rem;
    padding-top: 3em;
    padding-bottom: 1em;
}
strong{
    font-size: 0.9rem;
}
.piano-mese{
    color: #717475;
    padding-bottom: 3em;
}
.testo-standard{
    font-size: 0.8rem;
    font-weight: 300;
}
.fa-check{
    color: blue;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 80px;
    padding: 0em 1.5em;

    background-color: #ffffff;
}
header img{
    height: 40%;
}
nav{
    width: 100%;
}
header a{
    text-decoration: none;
    padding: 1em;
    color: #6a6a6a;
}

/* MAIN */

/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 80px;
}
.immagine-jumbo{
    width: 60%;
    translate: 15px 30px;
    transform: scale(1.2);
}

/* piani di acquisto */
.scelta-piani{
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #5d5f5c;
}
.utenti{
    font-size: 0.1;
}

/* Partner */
.bottone-negativo{
    border:1px solid #5d5f5c;
    background-color: white;
    color: #5d5f5c;
}

/* Operazioni */
.carta-operazioni{
    border: none;
}
/*Quadrati università*/
.colonna{
    display: flex;
    flex-wrap: wrap;
}
.quadrato{
    border: 2px solid red;
    height: calc(100vw / 6);
    width: calc(100vW / 6);
}
 
.quadrato-grande{
    height: calc(100vw / 3);
    width: calc(100vW / 3);

    display: flex;
    flex-wrap: wrap;
}


/* FOOTER */

footer{
    background-color: #000000;
}
.menu{
    display: flex;
}
.sottomenu{
    width: 20%;
    border: 1px solid green ;

    /*debug*/
    height: 100%;
}





/* DEBUG */
/*box*/

.box-debug{
    border: 5px solid red;
    height: 500px;
}
.box-debug1{
    border: 5px solid blue;
    height: 500px;
}
.box-debug2{
    border: 5px solid blue;
    height: 100px;
}
.box-debug3{
    border: 5px solid green;
}
.box-debug4{
    border: 5px solid red;
    height: 250px;
}